<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <h1>Mock Test Score Breakdown</h1>
        <br>
        <p>Click <a href="/logout">here</a> to logout.</p>
        <br>
        <p><strong>Scores for {{stud_name}}</strong>:</p>
        {% for x in data[stud_name] %}
            {% for item in x %}
                {{item}}
                <br>
            {% endfor %}   
            <br>     
        {% endfor %}
        <br>
        <strong>Total score: {{ total }}</strong>
    </div>
    
</body>
</html>